
<div class= "well text-center">
	<% if (data.images){%>
	<img src="<%= data.images[0].uri%>">
	<%}%>
	<% tracklist = [] %>
	<% data.tracklist.forEach(function(track) { %>
		<% tracklist.push (track.title) %>
	<% }) %>

	<% if(currentUser){%>
<form method="POST" action="/search/results/<%=data.id%>">
    <input hidden type="text" name="artist" value="<%= data.artists[0].name %>">
    <input hidden type="text" name="title" value="<%= data.title %>">
    <input hidden type="text" name="releaseDate" value="<%= data.year %>">
    <input hidden type="text" name="tracklist" value="<%= tracklist %>">
    <input hidden type="text" name="catno" value="<%= data.labels[0].catno %>">
    <input hidden type="text" name="discogsNum" value="<%= data.id %>">
    <input hidden type="text" name="imgUrl" value="<%= data.images[0].uri %>">
    <input hidden type="text" name="userId" value="<%= currentUser.id %>">


    <button class="btn btn-sm add-crate" type="submit">Add to Library</button>
</form>
	<%};%>

	<div class="text-center">
	<h1><%= data.title%></h3>
	<h2><%= data.artists[0].name%></h4>
	Year: <%= data.year %> <br>
	Catalogue Number: <%= data.labels[0].catno %> <br>
	Discogs ID: <%= data.id %> <br><br>
	Track List: <br>
		<% trackNumber = 1;%>
		<%data.tracklist.forEach(function(track){ %>
			<%= trackNumber + '.) ' + track.title%>
			<% trackNumber ++;%> 
			<br>
	<% })%>
		
	</div>
</div>
