
<div class="container header-container">
		<div class="row header-row text-center">
			<span class="col-xs-3"></span>
			<span class="col-xs-6"><h1><%= currentUser.firstname%>'s Crates</h1></span>
			<span class="col-xs-3"></span>

		</div>
		<div class="row">
			<p class="info-p text-center"> Click on the album thumbnail for more info about that specific release. 
			</p>
		</div>
</div>

<div class="container results-container text-center">


<% data.albums.forEach(function(album){%>
	
	<div class="results-well text-center col-xs-4">
			<div class="results-title-year">
				<%= album.artist + ' - ' + album.title%><br>
				<%= album.releaseDate%><br>
			</div>
		
			<a href="/search/results/<%=album.discogsNum%>">
				<img class="results-img" src="<%= album.imgUrl%>" height="150" width="150">
			</a> 
			<br>
			<div class="results-title-year">
				Catalogue Number: <%= album.catno%><br>
				Discogs Release ID: <%= album.discogsNum %><br>
			</div>
		<form type="hidden" class="delete" action="./profile/<%= album.id%>">
			<button type="submit" class="btn btn-xs delete-button">x</button>
		</form>
		
	</div>
<%});%>

</div>













