<h2>Profile</h2>

<div class="container header-container">
		<div class="row header-row text-center">
			<span class="col-xs-3"></span>
			<span class="col-xs-6"><h1><%= currentUser.firstname%>'s Crates</h1></span>
			<span class="col-xs-3"></span>

		</div>
		<div class="row">
			<p class="info-p text-center"> Click on the album thumbnail for more info about that specific release. 
			</p>
		</div>
</div>


<% data.albums.forEach(function(album){ %>

	<% var titleString = album.tracklist%>
	<% var titleArray = [];%>
	<% console.log(titleString);%>

	<% function splitString(stringToSplit, splitBy){%>

		<% var arrayOfStrings = stringToSplit.split(splitBy); %>
   		<% for (var i = 0; i < arrayOfStrings.length; i++){ %>
   		<% titleArray.push(arrayOfStrings[i]); %>

	<% }; %>
	<% }%>
	<% console.log(titleArray); %>
	<% splitString(titleString, ','); %>

	<div class="well">

		<%= album.title %>
		<%= album.artist %>

		<ol>

		<% titleArray.forEach(function(newTitle){%>
			<li> <%= newTitle %> </li>

		<%}); %>

		</ol>

		<img src="<%= album.imgUrl %>" height="200" width="200">
	</div>
<%});%>



