<h2>Results display here</h2>

<div class="container">
<form method="POST" action="/search/">
	<input hidden type="text" name="nextUrl" value="<%= data.pagination.urls.next%>">
	<button class="btn btn-success" type="submit">Next Page</button>
</form>

<% data.results.forEach(function(item){%>
	<div class="well">
		<p>
			<ul class="text-left">
			<li><%= item.id %></li>
			<li><%= item.title%></li>
			<li><%= item.year%></li>
			<li><%= item.catno%></li></ul>
			<ul> Barcodes:
				<% item.barcode.forEach(function(number){%>
					<li><%= number%></li>
				<%})%>
			</ul>
			<a href="/search/results/<%=item.id%>">
			<img src="<%= item.thumb%>">
			</a>
		</p>
	</div>
<%});%>

</div>