<h2>Results display here</h2>

<form method="POST" action="/search/">
	<input hidden type="text" name="nextUrl" value="<%= data.pagination.urls.next%>">
	<button class="btn btn-success" type="submit">Next Page</button>
</form>
<form method="POST" action="/search/">
	<input hidden type="text" name="prevUrl" value="<%= data.pagination.urls.prev%>">
	<button class="btn btn-success" type="submit">Previous Page</button>
</form>
<a href="<%= data.pagination.urls.next %>"> button</a>
<% data.results.forEach(function(item){%>
	<a href="/search/results/<%=item.id%>">
	<div class="well">
		<p>
			<ul class="text-left">
			<li><%= item.id %></li>
			<li><%= item.title%></li>
			<li><%= item.year%></li>
			<li><%= item.catno%></li></ul>
			<ul> Barcodes:
				<% item.barcode.forEach(function(number){%>
					<li><%= number%></li>
				<%})%>
			</ul>
			<img src="<%= item.thumb%>">
		</p>
	</div>
	</a>
<%});%>

